:root {
  --base-border-border-primary: var(--primitives-gray-gray-100);
  --base-content-high-emphasis: var(--primitives-midnight-midnight-900);
  --base-content-low-emphasis: var(--primitives-midnight-midnight-500);
  --base-content-medium-emphasis: var(--primitives-midnight-midnight-600);
  --base-departments-finance: var(--primitives-blue-blue-500);
  --base-departments-marketing: var(--primitives-pink-pink-500);
  --base-primary-accent: var(--primitives-purple-purple-500);
  --base-primary-accent-light: var(--primitives-purple-purple-100);
  --button-btn-primary: ;
  --heading-heading-4-font-family: "Inter-Bold", Helvetica;
  --heading-heading-4-font-size: 22px;
  --heading-heading-4-font-style: normal;
  --heading-heading-4-font-weight: 700;
  --heading-heading-4-letter-spacing: -0.6000000238418579px;
  --heading-heading-4-line-height: 129.99999523162842%;
  --numbers-border-radius-small: 6px;
  --other-detail-xsmall-bold-font-family: "Inter-Bold", Helvetica;
  --other-detail-xsmall-bold-font-size: 12px;
  --other-detail-xsmall-bold-font-style: normal;
  --other-detail-xsmall-bold-font-weight: 700;
  --other-detail-xsmall-bold-letter-spacing: 0.6000000238418579px;
  --other-detail-xsmall-bold-line-height: 139.9999976158142%;
  --paragraph-bold-small-bold-font-family: "Inter-Bold", Helvetica;
  --paragraph-bold-small-bold-font-size: 14px;
  --paragraph-bold-small-bold-font-style: normal;
  --paragraph-bold-small-bold-font-weight: 700;
  --paragraph-bold-small-bold-letter-spacing: -0.10000000149011612px;
  --paragraph-bold-small-bold-line-height: 139.9999976158142%;
  --paragraph-regular-small-font-family: "Inter-Medium", Helvetica;
  --paragraph-regular-small-font-size: 14px;
  --paragraph-regular-small-font-style: normal;
  --paragraph-regular-small-font-weight: 500;
  --paragraph-regular-small-letter-spacing: -0.10000000149011612px;
  --paragraph-regular-small-line-height: 139.9999976158142%;
  --paragraph-regular-xsmall-font-family: "Inter-Medium", Helvetica;
  --paragraph-regular-xsmall-font-size: 12px;
  --paragraph-regular-xsmall-font-style: normal;
  --paragraph-regular-xsmall-font-weight: 500;
  --paragraph-regular-xsmall-letter-spacing: -0.10000000149011612px;
  --paragraph-regular-xsmall-line-height: 139.9999976158142%;
  --primitives-blue-blue-500: rgba(80, 163, 210, 1);
  --primitives-gray-gray-100: rgba(229, 230, 232, 1);
  --primitives-midnight-midnight-100: rgba(236, 236, 245, 1);
  --primitives-midnight-midnight-500: rgba(179, 180, 206, 1);
  --primitives-midnight-midnight-600: rgba(140, 142, 165, 1);
  --primitives-midnight-midnight-900: rgba(33, 33, 41, 1);
  --primitives-neutral-white: rgba(255, 255, 255, 1);
  --primitives-pink-pink-500: rgba(223, 95, 254, 1);
  --primitives-purple-purple-100: rgba(232, 220, 251, 1);
  --primitives-purple-purple-300: rgba(197, 168, 246, 1);
  --primitives-purple-purple-50: rgba(244, 238, 255, 1);
  --primitives-purple-purple-500: rgba(140, 81, 237, 1);
}
