.logo {
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(237.31, 237.31, 237.31) 100%);
  border: 0.88px solid;
  border-color: var(--base-border-border-primary);
  border-radius: 3.5px;
  display: flex;
  gap: 7px;
  height: 30px;
  justify-content: center;
  padding: 3.5px;
  position: relative;
  width: 30px;
}

.logo .rectangle {
  background-color: #ffffff;
  border-radius: 1.75px;
  height: 24px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 3px;
  width: 28px;
}

.logo .image {
  height: 16px;
  margin-left: -4.5px;
  margin-right: -2.75px;
  position: relative;
  width: 30px;
}
